# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Distribuciones
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos específicos de Omniauto
.copilot/
test_omniauto/
test_project/

# Sistema
.DS_Store
Thumbs.db
